/* Index ----------------------------------------------------------------------*/

body {
    padding: 0;
    margin: 0;
    background-image: url('../images/pattern.png');
}

#header {
    background:#ffffff;
    margin: 0;
    padding: 0;
    border-bottom: 2px solid #cccccc;
    overflow: auto;
}

#Lindsay {
    padding: 20px;
    color: #ffffff;
    background: #4aaaa4;
    width: 300px;
    text-align: center;
    margin-left: 100px;
    margin-bottom: 0px;
    margin-top: 0px;
    margin-right: 0px;
    font-family: 'Georgia', Times, "Times New Roman", serif;
    font-size: 28px;
    float: left;
}

.clearfix {
    content: "";
    clear: both;
    display: block;
  }


/* Buttons */
.btn {
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    text-align: center;
    float: right;
    font-size: 16px; 
    text-decoration: none;
    margin: 20px 0px 20px 0px;
    padding: 0px 15px 0px 15px;
    
}

#about {
    border-right: 0.5px solid #cccccc;
}

#contact {
    border-left: 0.5px solid #cccccc;
}

#AboutMe {
    width: 896px;
    padding-top: 0px;
    padding-bottom: 20px;
    padding-left: 32px;
    padding-right: 32px;
    margin: 0 auto;
    /* margin-left: auto;  */
    /* margin-right: auto; */
    text-align: left; 
    line-height: 2; 
    background: #ffffff;
    border: 1px solid #dddddd;
    /* overflow: auto; */
}

#AboutMeHeader {
    color: #4aaaa4;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 28px; 
    border-bottom: 2px solid #cccccc;
}

#snowman {
    height: 175px;
    width: 160px;
    float: left;
    margin-right: 20px; 
}

p {
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 16px; 
}

#footer {
    background: #666666;
    color: #ffffff;
    font-size: 12px;
    padding-top: 40px;
    border-top: 10px solid #4aaaa4;
    margin-top: 100px;
    text-align: center;
}

/* Portfolio ----------------------------------------------------------------------*/

#PortfolioHeader {
    color: #4aaaa4;
    font-family: 'Georgia', Times, "Times New Roman", serif;
    font-size: 28px; 
    border-bottom: 2px solid #cccccc;
}

#Portfolio {
    width: 675px;
    padding-top: 0px;
    padding-bottom: 20px;
    padding-left: 32px;
    padding-right: 32px;
    margin: 0 auto;
    background: #ffffff;
    border: 1px solid #dddddd;
    overflow: auto;
}

.imgcontainer {
	display: flex;
    flex-wrap: wrap;
}

.container {
    position: relative;
    text-align: center;
    color: #ffffff;
    height: 150px;
    width: 180px;
    margin: 20px;
    object-fit: cover;
  }
  
/* .img {
    object-fit: cover;
    position: relative;
    float: left;
    width: 200px;
    height: 150px;
    margin: 20px;
} */

.text {
    position: relative;
    bottom: 50px;
    background: #4aaaa4;
    padding: 10px;
    margin: 20px;
}

/* Contact ----------------------------------------------------------------------*/

#ContactHeader {
    color: #4aaaa4;
    font-family: 'Georgia', Times, "Times New Roman", serif;
    font-size: 28px; 
    border-bottom: 2px solid #cccccc;
}

#Contact {
    width: 625px;
    padding-top: 0px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
    background: #ffffff;
    border: 1px solid #dddddd;
    overflow: auto;
}

* {
    box-sizing: border-box;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #dddddd;
    color: #777777;
    margin-top: 10px;
    margin-bottom: 10px;
    resize: vertical;
  }

input[type=submit] {
    background: #4aaaa4;
    padding: 5px 20px;
    border: #dddddd;
    color:#ffffff;
    cursor: pointer;
    font-size: 14px;
}

input[type=submit]:hover {
    background: #4aaaa4;
    color: #ffffff;
    font-size: 14px;
}